.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightblue;

}
.header .link {
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    list-style-type: none;
    width: auto;
}

ul li{
    margin: 10px;
}

.college .link{
    text-decoration: none;
    font-size: large;
    margin: 10px;
    padding: 20px;
    /* margin-top: 20px; */
}